.button-black-color__header {
    width: 36px;
    height: 36px;
    background-color: var(--color-grey-8);

    border-radius: var(--radius-1);
}

.button-black-color__header:hover .icon__header{
    color: var(--color-white-fixed);
}

.button-black-color__header:hover{
    border: 1px solid var(--color-grey-5); 
    color: var(--color-white-fixed);   
    background-color: var(--color-actived-fixed);

    cursor: pointer;
}

.icon__header {
    color: var(--color-grey-2);
}

.button-gender__filter {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 7px;
    border-radius: var(--radius-1);

    font-size: var(--font-3);
    color: var(--color-grey-2);
    background-color: var(--color-grey-8);

    cursor: pointer;    
}

.input-gender__filter:checked+label {
    border: 1px solid var(--color-grey-5);
    color: var(--color-white-fixed);
    background-color: var(--color-actived-fixed);
}

.button__buy-album {
    width: 75px;
    height: 32px;

    border-radius: var(--radius-1);

    color: var(--color-grey-2);
    background-color: var(--color-grey-7);

    cursor: pointer;
}

.button__buy-album:hover {
    border: 1px solid var(--color-grey-5); 
    color: var(--color-white-fixed);   
    background-color: var(--color-actived-fixed);
}

